<%= $player1.name %>
<br>
<p id="player1_HP">HP = <%= $player1.hp %></p>
<br>
<%= $player2.name %> 
<p id="player2_HP">HP = <%= $player2.hp %></p>
<form action="/play" method="post"><button type="submit">Attack</button></form>